language: cpp
sudo: required
dist: trusty
env:
  matrix:
    - DIST=precise
    - DIST=trusty
before_install:
  - sudo apt-get -y install wget software-properties-common
  - sudo add-apt-repository -y "deb http://apt.postgresql.org/pub/repos/apt/ trusty-pgdg main 9.6" && wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
  - sudo apt-get update
  - sudo apt-get -y --force-yes install debhelper devscripts postgresql-server-dev-all postgresql-server-dev-9.6
  - echo '9.4\n9.5\n9.6' > ~/.pg_supported_versions
before_script:
  - make clean
script:
  - make deb
deploy:
  - provider: packagecloud
    dist: ubuntu/$DIST
    package_glob: build/*.deb
    username: heroku
    repository: dod
    token:
      secure: Ts66jfdhEZ0fw3LqXrYG/lwDAsi0ptiyYWGHMR8tSYaR/EB1QVStySG9/IcbJ8NkNEyq/ywykp5f5Naug75nwvYZCfRfKeUeZrllkFy0LzMHtQx2lw+yM6CVs7a/yuFKZeVgZcT2F2ktpwGPNvcY1HP/2d2zeIdTHB/rucYymfAsen0ylt7n1Z41p6WYGnaTYr6e4KgUB2FE4xzB7PZ99IXnbGtSl15wiI5rOw+Kt3KVyRIfr/MdvGtZoDVpthtiorWG4zMDjj7uo8NqIHMUtzE4LeSQukCO7S0GlS8timYCJ5VIBUY1Kr0Me44Rr4ip1vBdZ0PMit08PR9t8/VkKNtmvGRQW17Yw/ULmC5a6ao+LwYVzTkDQVerKDpMJMxvsgpV+sUwZx/PejjlICbWiickXc8vMtRfGogn0+oM0LPx8OIjY9qfud/aad0Xoa1/t4b+bVZAMUS7i3K2ffDN4/6gMww2x3LTekuijBWmm/X+RRlt9B9rrcqlSt0W/3OJCtsVIR0eQ7amGfcpfP2PYf22LSjL/rZo4lglqOjFD+k9zR7DhtbJyYtjabGDoMKETJ69ho1OIs5vXvCuqJ1zxRht3NLStHgymbaCCVgiG5cP4pbUp/QpT+JejOQpELGCl5SR3h1MImjctf1daBQiSxkI1Uv1eVRCXqNeFdrcluc=
    skip_cleanup: true
notifications:
  email: false
