Depends: @, postgresql-server-dev-9.4, postgresql-server-dev-9.5, postgresql-server-dev-9.6, postgresql-contrib-9.4, postgresql-contrib-9.5, postgresql-contrib-9.6
Tests: installcheck
Restrictions: allow-stderr
